<!DOCTYPE html>
<html>
<head>
    <title>Tes Favicon</title>
    <link rel="icon" href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEQAAAAAAABEAEQAAAAAAARABIQQAAAAAEQASCEIAAAABEQASCEIQAAAAEQASCEIQAAAAEQASCEIQAAAAEQASCEIAAAABEQASCEIAAAAAEQASCEIAAAABEQASCEIQAAAAARABIQQAAAAAABEAEQAAAAAAABEQAAAAAAAAAAD//wAA//8AAMAHAADABwAAwAcAAMAHAADABwAAwAcAAMAHAADABwAAwAcAAMAHAADABwAAwAcAAMAHПоказать ещё">
</head>
<body>
    <h1>Ini adalah halaman tes untuk favicon.</h1>
    <p>Lihat di tab browser, apakah ada ikon 'G' dari Google?</p>
</body>
</html>